<head>
  <style></style>
</head>

<body class="em_body" style="margin: 0px; padding: 0px" bgcolor="#efefef">
  <table
    class="em_full_wrap"
    valign="top"
    width="100%"
    cellspacing="0"
    cellpadding="0"
    border="0"
    bgcolor="#efefef"
    align="center"
  >
    <tbody>
      <tr>
        <td valign="top" align="center">
          <table
            class="em_main_table"
            style="widows: 80%; max-width: 1000px"
            width="80%"
            cellspacing="0"
            cellpadding="0"
            border="0"
            align="center"
          >
            <tbody>
              <tr>
                <td
                  style="padding: 15px"
                  class="em_padd"
                  valign="top"
                  bgcolor="#efefef"
                  align="center"
                >
                  <table
                    width="100%"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                    align="center"
                  >
                    <tbody>
                      <tr>
                        <td
                          style="
                            font-family: 'Open Sans', Arial, sans-serif;
                            font-size: 12px;
                            line-height: 15px;
                            color: #0d1121;
                          "
                          valign="top"
                          align="center"
                        ></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td
                  style="padding: 20px 60px 0px"
                  class="em_padd"
                  valign="top"
                  bgcolor="white"
                  align="center"
                >
                  <h1 style="color: olivedrab">Expense Tracker</h1>
                  <table
                    style="padding: 0px 0px 15px"
                    width="100%"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                    align="center"
                  >
                    <tbody>
                      <tr>
                        <td
                          style="
                            font-family: 'Open Sans', Arial, sans-serif;
                            font-size: 20px;
                            color: black;
                            padding-bottom: 20px;
                          "
                          valign="top"
                          align="left"
                        >
                          <hr />
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            font-family: 'Open Sans', Arial, sans-serif;
                            font-size: 14px;
                            line-height: 22px;
                            color: black;
                            padding: 0px 0px 5px;
                          "
                          valign="top"
                          align="left"
                        >
                          Hello,
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-bottom: 15px; padding-top: 15px">
                          {{message}}
                        </td>
                      </tr>

                      <tr>
                        <td
                          style="
                            padding: 20px 30px 20px;
                            font-family: 'Open Sans', Arial, sans-serif;
                            font-size: 12px;
                            color: black;
                          "
                          valign="top"
                          align="center"
                        >
                          Please note this email was sent from a
                          notification-only address that can't accept incoming
                          emails
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td
                  style="padding: 25px 30px"
                  class="em_padd"
                  valign="top"
                  bgcolor="#515151"
                  align="center"
                >
                  <table
                    width="100%"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                    align="center"
                  >
                    <tbody>
                      <tr></tr>

                      <tr>
                        <td
                          style="
                            font-family: 'Open Sans', Arial, sans-serif;
                            font-size: 11px;
                            line-height: 18px;
                            color: white;
                            padding: 0px 0px 5px;
                          "
                          valign="top"
                          align="center"
                        >
                          Expense Tracker &copy; 2025
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td
                  class="em_hide"
                  style="
                    line-height: 1px;
                    min-width: 700px;
                    background-color: #ffffff;
                  "
                ></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
